//FONTS:
$titleFont: "Monoton", cursive;
$textFont: "Lato", sans-serif;
//------------------------------------
//COLORS:
$fontColor: white;
$hoverColor: #050d1d;
$buttonColor: rgba(255, 255, 255, 0.15);
$cardsColor: #768094;
$cardstableColor: rgba(255, 255, 255, 0.07);
$cardstableColor2: rgba(2, 0, 1, 0.2);
$shadowColor: rgba(0, 0, 0, 0.35);
// inne:
// 032529
// 0C4F7F
// 021F3A
// 021F3A
// 202238
//#46f1f1
//----------------------------------
//STUFF:
$buttonPadding: 20px 40px 20px 40px;
$menuBorder: $cardsColor solid 1px;
